<a href="https://colab.research.google.com/github/imtalha2003/Birthdaywishes/blob/main/Talha_Machine_learning_Lab_1_Basic_Python_classwork_%2B_Hw.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#TALHA MEHMOOD KAYANI B22F0442AI089 AI BLUE

#Define Variable

In [ ]:
integer = 1
string = "Talha"
print(integer,string)

1 Talha

# IF else Task

In [ ]:
number = int(input("Enter a number between 1 and 3: "))

if number == 1:
    print("It is 1")
elif number == 2:
    print("It is 2")
else:
    print("It is not 1 or 2, it's 3")

#List first 3 numbers

In [ ]:
numbers = [1, 2, 3, 4, 5]
print(numbers[0:3])

[1, 2, 3]

# Function to multiply 2 numbers

In [ ]:
def calculation(num1, num2):
    print(num1 * num2)

num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))

calculation(num1, num2)

Enter first number: 2
Enter second number: 3
6

# Numpy Task

In [ ]:
import numpy as np

numbers = np.array([1, 2, 3, 4, 5])

print(numbers)

#Pandas Task

In [ ]:
import pandas as pd

data = {"Name": ["Talha", "Ali", "Anees"], "Age": [23, 27, 30]}
df = pd.DataFrame(data)
print(df)

#Home work Task 1

In [ ]:

def calculate_average(num1, num2, num3):
    return (num1 + num2 + num3) / 3

num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))
num3 = int(input("Enter the third number: "))

average = calculate_average(num1, num2, num3)
print(f"The average of {num1}, {num2}, and {num3} is: {average}")

print("Even numbers from 1 to 10 are:")
for i in range(1, 11):
    if i % 2 == 0:
        print(i)

#Homework task 2 Pandas Data Frame

In [ ]:
import pandas as pd

data = {'Age': [25, 32, 28, 40, 35],
        'Salary': [50000, 60000, 55000, 65000, 70000],
        'Department': ['HR', 'IT', 'Finance', 'HR', 'IT']}

df = pd.DataFrame(data)


print("Column names:")
print(df.columns)


print("\nSummary statistics for numerical columns:")
print(df.describe())

#Homework TAsk 2 Numpy

In [ ]:
import numpy as np

random_numbers = np.random.randint(1,100,10)


std_dev = np.std(random_numbers)

print("Array of random numbers:")
print(random_numbers)

print("\nStandard Deviation:")
print(std_dev)

Array of random numbers:
[15 49 94 75 56  8 97 98 78 55]

Standard Deviation:
30.572046055179232

#ADDITIONAL TASKS

# 1 Script thats take user first and last name and combine them to say welcome

In [ ]:
Fname = input("Enter your First name ")
Lname =  input ("Enter your last name ")
print("Welcome ! "+" " + Fname + " " + Lname)


#List of 5 cities using loop to print them in upper case

In [ ]:
cities = ['Haripur' , 'Abbottabad' , 'Islamabad' , 'Peshawar' , 'Rawalpindi']
for city in cities:
  print(city.upper())

#Task: 2
  1. Write a Python function that accepts a list of numbers and returns the maximum number.

In [ ]:
def max_number(numbers):
    max_num = numbers[0]
    for num in numbers:
        if num > max_num:
            max_num = num
    return max_num

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
max_num = max_number(numbers)
print("The maximum number is:", max_num)

#Task 2
2. Write another function that checks if a number is prime.
  3. Create a loop that calls the prime-checking function on numbers from 1 to 20 and prints whether each number is prime or not.

In [ ]:

def is_prime(number):
    if number < 2:
        return False
    for i in range(2, int(number ** 0.5) + 1):
        if number % i == 0:
            return False
    return True

for num in range(1, 21):
    if is_prime(num):
        print(f"{num} is a prime number.")
    else:
        print(f"{num} is not a prime number.")

#Task: 3
  1. Create a NumPy array of 10 random integers between 1 and 50.
  2. Calculate the sum, mean, and standard deviation of the array.
  3. Sort the array in ascending order and print the sorted array.

In [ ]:
import numpy as np

# 1.  NumPy array of 10 random integers between 1 and 50
random_array = np.random.randint(1, 51, size=10)
print("Random Array:", random_array)

# 2. Calculate the sum, mean, and standard deviation of the array
array_sum = np.sum(random_array)
array_mean = np.mean(random_array)
array_std = np.std(random_array)

print("Sum:", array_sum)
print("Mean:", array_mean)
print("Standard Deviation:", array_std)

# 3. Sort the array in ascending order and print the sorted array
sorted_array = np.sort(random_array)
print("Sorted Array:", sorted_array)

#Task: 4
  1. Create a Pandas DataFrame with three columns: Name, Age, and Score.
  2. Add data for at least five students.
  3. Calculate the average score and filter out students who scored below 70.
  4. Print the names of students who passed (scored 70 or above).

In [ ]:
import pandas as pd
data = {
    'Name': ['Talha', 'ali', 'anees', 'moheed', 'muzammil'],
    'Age': [20, 21, 19, 22, 20],
    'Score': [85, 67, 90, 75, 60]
}

df = pd.DataFrame(data)
print("DataFrame:\n", df)

average_score = df['Score'].mean()
print("\nAverage Score:", average_score)

passed_students = df[df['Score'] >= 70]

print("\nStudents who passed (scored 70 or above):")
print(passed_students['Name'].to_list())

#Last task Fibonnacci numbers

In [ ]:
def fibonacci(n):
    fib_sequence = [0, 1]
    while len(fib_sequence) < n:
        fib_sequence.append(fib_sequence[-1] + fib_sequence[-2])
    return fib_sequence

#Generate the first 10 Fibonacci numbers
n = 10
fib_numbers = fibonacci(n)
print(fib_numbers)